.about-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
  }
  
  .p1 {
    width: 500px;
    height: 110px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  
    border: 1px solid transparent;
    animation: glowing-border 2s infinite alternate;
  }
  @keyframes glowing-border {
    0% {
      border-color: rgb(75, 49, 240);
      box-shadow: 0 0 10px rgb(75, 49, 240);
    }
    50% {
      border-color: rgb(48, 143, 147);
      box-shadow: 0 0 15px rgb(69, 210, 184);
    }
    100% {
      border-color: rgb(96, 91, 163);
      box-shadow: 0 0 10px rgb(95, 92, 179);
    }
  }
  
  .p1 p {
    padding: 10px;
  }
  
  h2 {
    color: #000;
    display: inline;
  }
  
  p {
    color: #000;
    font-size: large;
    font-family: sans-serif;
  }
  