.about-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
  }
  
  .p1 {
    width: 500px;
    height: 110px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
  
    border: 1px solid transparent;
    animation: glowing-border 2s infinite alternate;
  }
  
  .p1 p {
    padding: 10px;
  }
  
  h2 {
    color: #000;
    display: inline;
  }
  
  p {
    color: #000;
    font-size: large;
    font-family: sans-serif;
  }
  